<header class="header-bar">
    <a class="menu-launcher-btn" id="aMenuLauncher">
        <img src="site_media/svg/menu.svg" alt="" class="menu-launcher-icon">
    </a>
    <div class="logo-place">
        <a href="#">
            <div id="divLogo">
                <span class="text-white" style="color: whitesmoke">CLDF</span>
                <span></span>
            </div>
        </a>
    </div>
    <div class="user-menu-place">
        <a class="user-menu-toggler" id="aMuestraMenuUsuario">
            <span class="name-avrev" id="btnAbreMenuUsuario">JD</span>
            <span class="user-name-place">Jhon Doe</span>
        </a>
        <div id="divContMenuUsuario" class="user-menu-cont">
            <a href="#home">Perfil</a>
            <a href="#about">Acerca de</a>
            <a href="#contact">salir</a>
        </div>
    </div>
</header>