<div class="side-panel" id="divSidePanel">
    <nav id="navMenu" class="side-menu">
        <a href="index.php?ctrl=home&action=index" class="{DASHBOARD_MENU}" id="aMenuEstudiantes">
            <img src="site_media/svg/dashboard.svg" alt="Students" class="side-menu-icon">Tablero</a>
        <a href="index.php?ctrl=estudiante&action=index" class="{ESTUDIANTE_MENU}" id="aMenuEstudiantes">
            <img src="site_media/svg/students2.svg" alt="Students" class="side-menu-icon">Estudiantes</a>
        <a class="side-menu-item" id="btnMenuEmpleados">
            <img src="site_media/svg/employee2.svg" alt="Students" class="side-menu-icon">Empleados</a>
        <a class="side-menu-item" id="btnMenuHorarios">
            <img src="site_media/svg/calendar2.svg" alt="Students" class="side-menu-icon">Horarios</a>
        <a class="side-menu-item">
            <img src="site_media/svg/classroom2.svg" alt="Students" class="side-menu-icon">Cursos</a>
        <a class="side-menu-item">
            <img src="site_media/svg/payroll2.svg" alt="Students" class="side-menu-icon">N&oacute;mina</a>
        <a class="side-menu-item">
            <img src="site_media/svg/califications2.svg" alt="Students" class="side-menu-icon">Notas</a>
        <a class="side-menu-item">
            <img src="site_media/svg/payment2.svg" alt="Students" class="side-menu-icon">Pagos</a>
    </nav>
</div>