/*[ General ]*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
    color: whitesmoke;
}

/*[ Logo ]*/

#divLogo {
    padding: 0;
    color: whitesmoke;
    font-size: 28px;
    line-height: 32px;
    border-style: dashed;
    padding-left: 15px;
    padding-right: 15px;
    border-color: rgb(49, 23, 23);
    border-radius: 20px;
    border-width: 2px;
    margin-top: 5px;
    border-color: #1E90FF red yellow green;
}

/*[ Encabezado ]*/

.header-bar {
    width: 100%;
    top: 0;
    position: fixed;
    background: #333333;
    height: 50px;
    color: white;
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
    box-sizing: border-box;
}

a.menu-launcher-btn {
    display: none;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 50px;
    padding-top: 8px;
    padding-bottom: 10px;
}

.menu-launcher-icon {
    height: 24px;
    widows: 24px;
}

.menu-launcher-icon:hover {
    cursor: pointer;
}

.logo-place {
    height: 100%;
    float: left;
    margin-left: 5px;
    padding: 2px;
    line-height: 50px;
    font-size: 26px;
}

.user-menu-place {
    float: right;
    text-align: right;
    padding-right: 10px;
}

.user-menu-cont {
    display: none;
    width: 150px;
    position: relative;
    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.user-menu-cont a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #E0E4EC;
    text-align: center;
}

.user-menu-toggler {
    height: 50px;
    display: inline-block;
    background-color: transparent;
    color: white;
    min-width: 150px;
    max-width: 200px;
    border-style: none;
    font-size: 16px;
    overflow: hidden;
    line-height: 50px;
    text-align: center;
}

.user-menu-place a:hover {
    color: #1E90FF;
    text-decoration: underline;
    cursor: pointer;
}

.name-avrev {
    background-color: #F1F1F1;
    line-height: 28px;
    border-radius: 20px;
    display: inline-block;
    height: 28px;
    width: 28px;
    color: black;
    text-align: center
}

.user-name-place {
    display: inline;
}

/* [ Menu y panel lateral ] */

.side-menu-icon {
    margin-right: 5px;
    margin-bottom: -4px;
    display: inline-block;
    height: 22px;
    width: 22px;
}

.side-panel {
    position: absolute;
    top: 50px;
    bottom: 0;
    background-color: #F1F1F1;
    width: 200px;
    border-right-style: solid;
    border-width: 1px;
    border-color: #DDDDDD;
    padding-right: 5px;
    overflow: auto;
}

.side-menu a {
    display: block;
    width: 100%;
    line-height: 40px;
    text-align: left;
    padding-left: 5px;
    font-size: 18px;
    border-right-style: solid;
    border-width: 3px;
    border-color: white;
    -webkit-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    color: #43474C;
}

.side-menu {
    overflow-y: auto;
    height: 400px;
}

.active {
    background-color: #E0E0E0;
    border-color: #1E90FF !important; 
}

.side-menu:hover {
    cursor: pointer;
}

.side-menu a:hover {
    background-color: #E0E0E0;
    border-color: #1E90FF;
}

.active {
    border-right-style: solid;
    background-color: #E0E0E0;
    border-color: red;
}

/*[ Login ]*/

div.login-panel {
    width: 35%;
    margin: auto;
    padding: 10px;
    margin-top: 10%;
    text-align: center;
    min-width: 350px;
}

div.login-panel h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*[ Botones ]*/

.btn {
    border-style: solid;
    border-radius: 5px;
    padding: 2px;
    padding: 2px 10px 2px 10px;
    border-width: 1px;
    border-color: #DDDDDD;
    height: 38px;
    cursor: pointer;
    font-size: 18px;
}

.btn-m {
    width: 200px;
}

.border {
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: #DDDDDD;
}

.btn {
    border-style: solid;
    border-radius: 5px;
    padding: 2px;
    padding: 2px 10px 2px 10px;
    border-width: 1px;
    border-color: #DDDDDD;
    height: 38px;
    cursor: pointer;
    font-size: 18px;
}

.btn-m {
    width: 200px;
}

/*[ Controles de formulario ]*/

input.name-field {
    width: 300px;
}

div.form-group {
    width: 100%;
    padding: 10px 5px 10px 5px;
    margin: auto;
}

div.form-group label {
    display: block;
    border-radius: 2px;
    border-width: 1px;
    border-color: #DDDDDD;
    margin-bottom: 5px;
}

.txt-field {
    font-size: 18px;
    border-style: solid;
    border-color: #DDDDDD;
    height: 38px;
    border-radius: 2px;
    border-width: 1px;
    padding: 0 5px 0 5px;
}

/* [ Main ] */

.main {
    position: absolute;
    top: 50px;
    margin-left: 200px;
}